:root {
	--text: hsla(0, 10%, 100%, 0.9);
	--back: hsla(0, 0%, 5%, 0.9);
	--shadow: hsla(120, 20%, 50%, 0.5);
	--accent: hsla(0, 10%, 40%, 1);
	--green: hsla(120, 40%, 50%, 1);
	--yellow: hsla(60, 55%, 45%, 1);
	--nope: hsla(0, 0%, 30%, 0.5);
	--oops: hsla(0, 100%, 50%, 1);

}

body {
	font-family: helvetica, Arial, sans-serif;
	background: var(--back);
	color: #aaa;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.75rem;
	color: var(--text);
	text-transform: uppercase;
	padding: 1em;
}

h2 {
	margin: 1em;
}

.container {
	width: 95vw;
	/*min-height: 90vh;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 7em;
	grid-gap: 1em;
}

.header {
	height: 5em;
	grid-column: 1 / -1;
	text-align: center;
	border-bottom: solid 1px var(--text);
}

.clues {
	height: 80vh;
	overflow: hidden;
	padding: 0.5em;
	grid-column: -2 / -1;
	grid-row: 2 / 6;
	background: var(--back);
	box-shadow: -5px 5px 20px var(--shadow);
}

.clues__items {
	grid-column: 2;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.clues__item {
	color: var(--text);
	letter-spacing: 2px;
	line-height: 1.2;
}

.keyboard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.keyboard__items {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(20, 22px);
	gap: 0.5em;
}

.keyboard__item,
.keyboard__oops,
.green__item,
.yellow__item {
	grid-column: span 2;
	display: flex;
	width: 100%;
	height: 3rem;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: var(--text);
	background: var(--back);
	border: solid 1px var(--text);
	border-radius: 5px;
	cursor: pointer;
}

.keyboard__item[data-nope] {
	opacity: 0.5;
	background: var(--nope);
}

.keyboard__item-space {
	grid: span 1;
}

.keyboard__oops {
	display: none;
	grid-column: span 4;
	background: var(--oops);
}

.green {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.green__items {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(10, 22px);
	gap: 0.5em;
}

.green__item {
	border: solid 3px var(--green);
}

.yellow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.yellow__items {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(10, 22px);
	gap: 0.5em;
}

.yellow__item {
	border: solid 3px var(--yellow);
}

.modal__keyboard {
	display: none;
	position: absolute;
	top: 20vh;
	left: 50vw;
	transform: translateX(-50%);
	width: 670px;
	padding: 2em;
	background: var(--accent);
	border: solid 2px var(--green);
	border-radius: 1em;
	box-shadow: 0 0 20px var(--shadow);
}

.btn__restart {
	margin-top: 3em;
	padding: 0.75em;
	width: 100%;
	color: var(--text);
	background: var(--green);
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	cursor: pointer;
	transition: background 200ms ease-in-out;
}

.btn__restart:hover {
	color: var(--back);
	background: var(--yellow);
}